header {
  background: #2e7bcf url(https://theopathic.github.io/images/sky.jpg) 0 0;
  background-size: cover;
}
body {
  font-family: "Architects Daughter", "Helvetica Neue", Helvetica, Arial,
        serif;
  font-size: 15px;
}

p.h2 {
  margin-bottom: 8px;
  font-family: "Architects Daughter", "Helvetica Neue", Helvetica, Arial,
    serif;
  font-size: 22px;
  font-weight: bold;
  color: #474747;
  text-indent: 4px;
}
p.h2::before {
  padding-right: 0.3em;
  margin-left: -1.5em;
  content: "//";
  color: #9ddcff;
}

/* Modified from https://alvarotrigo.com/blog/css-highlight-text/ */

:root {
/*  --color: #414141;
  --underline: #e6a0fa;
  --color: #2879d0;
*/
  --color: #800000;
  --underline: #474747;
}

/*
body {
  font-size: 16px;
  font-family: Arial;
  padding-top: 50px;
}
*/

div {
  width: 200px; 
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}   

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color);
  transition: all 200ms ease-out;
}   
    
a:hover {
  font-size: 1.6rem;
}   

a:hover ~ hr {
  width: 100%;
}   
    
hr {
  width: 0px;
  height: 3px;
  background: var(--underline);
  border: var(--underline);
  margin: 0px;
  transition: width 450ms ease-out;
}
