header {
  background: #2e7bcf url(https://theopathic.github.io/images/sky.jpg) 0 0;
  background-size: cover;
}
body {
  font-family: "Architects Daughter", "Helvetica Neue", Helvetica, Arial,
        serif;
  font-size: 15px;
}
aside:before {
  content: "<font size=-2><a href="https://www.freepik.com/free-photo/sky_3277813.htm#query=sky&position=11&from_view=keyword&track=sph">Image by rawpixel.com</a> on Freepik</font>";
}
